
<%= form_for @trip do |f| %>
<div class="container">

<div class="white-text">
  <h3><%= f.label :trip_name %></h3>
  <h3><%= f.text_field :trip_name %></h3>
</div>

<div class="white-text">
  <%= f.label :duration %>
  <%= f.text_field :duration %>
</div>

<div class="white-text">
  <%= f.label :budget %>
  <%= f.number_field :budget %>
</div>

<div class="white-text">
  <%= f.label :people_going %>
  <%= f.number_field :people_going %>
</div>

<div class="black-text"><%= f.submit %></div>

</div>
<% end %>
