<h1><%= @trip.trip_name %></h1>

<ul>
  <li> Duration: <%= @trip.duration %> </li>
  <li> Budget: <%= @trip.budget %> </li>
  <li> Number of People: <%= @trip.people_going %></li>
<br />

  <li> <%= link_to 'Edit Trip', edit_trip_path(@trip) %> </li>
  <li> <%= link_to 'Delete Trip', trip_path(@trip), method: :delete, data: {confirm: 'Really Delete Trip?'} %></li>
</ul>

<%= link_to 'Home', :root %>