<h3 class="center"> Locations for: <%= @trip.trip_name%></h3>
<br />
<div class="container">
<div class="row">
  <% @trip.locations.each do |location| %>
    <div class="col s12 m6">
      <div class="card grey">
        <div class="card-content">
          <span class="card-title white-text"><%= location.name %>
 
        </div>
        <div class="card-action center">
          <%= link_to "Show", trip_location_path(@trip, location)%>
        </div>
    </div>
  </div>
<% end %>
</div>
</div>


<div class="center"><%= link_to 'Add Location', new_trip_location_path(@trip), class:'btn cyan white-text'%></div>
<div class="center"><%= link_to 'Back', trip_path(@trip), class:'btn cyan white-text'%></div>
